<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodle.app.Dao.UserMapper">
    <select id="selectIdPassword" parameterType="UserDto" resultType="UserDto">
        SELECT id , password
        from user
        where id = #{id} and password = #{password}
    </select>

    <select id="selectId" parameterType="String" resultType="String">
        SELECT id
        from user
        where id = #{id}
    </select>

    <select id="selectPassword" parameterType="String" resultType="String">
        SELECT password
        from user
        where password = #{password}
    </select>

    <delete id="deleteAll">
        DELETE FROM user
    </delete>
</mapper>